body {
  background-color: #fc3;
  color: #333;
}

body#idClassPage {
  background-color: white;
}
h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 30px;
  font-family: Georgia, Times, serif;
}

p {
  font-size: 18px;
  font-style: italic;
}

ol {
  margin: 20px;
  padding: 20px;
  color: white;
}
/* Styles for the ID & Class lecture  */
#mainTitle {
  color: #fc3;
  background: #353535;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}

.sectionHeader {
  color: olive;
}
