/* style.css */

#box {
 background: red;
 height: 200px;
 width: 200px;
 margin: 40px auto;
 padding: 50px;
 box-sizing: border-box;
 border-radius: 100px;
 border-bottom-left-radius: 100px;
}

/* Colors */
body#colors {
 background: 
 color: white;

}

#colors #container {
 width: 600px;
 margin: 0 auto;
 padding: 40px;
 background: rgba(255,255,255,0.1);
}

#colors #box {

/*background: linear-gradient(50, yellow, blue);*/
background: radial-gradient(red,pink,pink,pink);

}